:root{
  --primary-color: rgb(100, 190, 255);
}

.tabs {
  display: flex;
  width: 100%;
  gap: 2px;
  justify-content: start;
}

.tab {
  padding: 0px 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-bottom: none;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.activeTab {
  background-color: #fff;
  color: #000;
}

.layoutGrid {
  position: relative;
  width: 100%;
  min-width: 1024px;
  max-width: 1368px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:24px 24px;
  padding: 10px 0px;
  margin: 10px;
  margin-bottom: 3rem;
}

.sectionWrapper {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: -8px;
  position: relative;
  z-index: -1;
}

.sectionLabel {
  position: absolute;
  top: -14px;
  left: 10px;
  background-color: #242424;
  padding: 0 5px;
  color: var(--primary-color);
  font-size: 10px;
}