#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* reset all input styles and normalize them */
input {
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 0;
  transition: border-color 0.25s;
}

